html, body {
    margin: 0;
    scroll-behavior: smooth;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 15%;
    background-color: rgb(242, 244, 244);
    padding: 10px 20px 0px;
}
.header {    
    min-height: 150px;
}

.img-responsive{
    width: 100%;
    height: auto;
    max-height: 100%;
    
}

.content {
    background-color: white;
    min-height: 300px;
    padding: 20px;
}
.textos{
    font-family:'Segoe UI', sans-serif;
   font-size: 16px;
}

.footer {
    background-color: rgb(199, 188, 234);
    min-height: 150px;
}

.img-footer{
    width: 200px;
    border-radius: 50%;
    float: left;
    margin-top: 80px;
    margin-left: 10px;
}

.div-links-footer{
 margin-top: 150px;
 margin-left: 40px;
 float: left;
}

.div-links-footer i{
    color: rgb(124, 75, 2);
}

.links-footer{
    text-decoration: none;
    color:rgb(122, 80, 2);
}

.links{
    text-decoration: none;
    color: rgb(122, 80, 2);
}

.div-links-footer-mapa{
    float: left;
    margin-top: 5px;
    margin-left: 300px;
}

/* Sobre a clinica */
.text-column {
    width: 60%; /* Largura da coluna de texto */
    float: left; /* Faz com que a coluna de texto fique à esquerda */
    margin-top: 60px;
}

.image-column {
    width: 40%; /* Largura da coluna de imagem */
    float: left; /* Faz com que a coluna de imagem fique à direita */
}

/* Tabela de horários */
table td:hover{
background-color: rgb(140, 168, 161);
}

table tr{
    text-align: center;
}

table th{
    background-color: cadetblue;
}
